@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

/* VARIABLES */
:root {
  --primary: #514b82;
  --secondary: #f2f2f2;
  --tertiary: #f2f2f2;
}

body, html { height: 100%; max-width: 100dvw; overflow-x: hidden; }

/* LOADER */
.loader {
  margin: 2rem auto;
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary);
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: l5 1s infinite;
}
@keyframes l5 {to{transform: rotate(.5turn)}}

.header{
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat no-repeat !important;
}

.search-input {
  position: relative;
  color: #404040;
  background-image: url('/search-icon.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 15px 50%;

  &:focus {
    outline: none;
  }
}

.download-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: #0a0a0a;
  border: 1px solid hsla(0,0%,100%,.29);
  padding: 8px;
  border-radius: 6px;
  background-image: url('/download-icon.svg');
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s ease;

  &:hover {
    background-color: #525252;
  }
}

.topic-select {
  border: 1px solid #e5e5e5;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background-image: url('/select-arrow.svg');
  background-size: 10px auto;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  }

/* LIGHTBOX */
.lightbox {
  width: 100dvw;
  height: 100dvh;
  max-width: 0;
  max-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(7px);
  opacity: 0;
  transition: opacity 0.2s ease;

  &.active {
    position: fixed;
    opacity: 1;
    max-width: 100dvw;
    max-height: 100dvh;
    transition: opacity 0.2s ease;
    z-index: 999;
    overflow: auto;
  }

  .image-container {
    width: 100%;
    height: auto;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
    filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.25));

    @media (max-width: 768px) {
      top: 15%;
    }

    .image {
      max-height: 65dvh;
      margin: 0 auto;

      @media (max-width: 768px) {
        max-height: 80dvh;
        width: 80%;
        object-fit: cover;
      }
    }

    .separator {
      width: 80%;
      height: 2px;
      background: rgb(220,30,30);
      background: linear-gradient(270deg, rgba(220,30,30,0) 0%, rgba(255,255,255,1) 50%, rgba(227,227,227,0) 100%);
    }
  }

  .close-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #0a0a0a;
    border: 1px solid hsla(0,0%,100%,.29);
    padding: 8px;
    border-radius: 6px;
    background-image: url('/close-icon.svg');
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease;
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 1000;

    @media (max-width: 768px) {
      top: 1rem;
      right: 1rem;
    }
  
    &:hover {
      background-color: #525252;
    }
  }

  .download-button {
    width: 42px;
    height: 42px;
    background-size: 22px 22px;
  }
}